h1{
    font-size: 80 px;
    color: plum;
    font-size: 90 px;
    color: green;
    
}
p{
    color: blueviolet;
    font-size: 30px;
}
    
    font-size: 90 px;
    color: yellowgreen;
}
}
p{
    font-size: 30px;
    color: blue;
}
